@import '../utils/vars';
.advantages {
  padding-top: 60px;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__item {
      width: 100%;
    }
    & > li:not(:first-child) {
      margin-left: 0px;
    }
  }
  &__heading {
    text-align: center;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 16.41px;
  }
  &__icon {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: getColor('ashen');
  }
}
