@import '../utils/vars';
.clients {
  padding: 60px 0;
  &__heading {
    font-size: 28px;
    line-height: 1.71;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    & > li:not(:first-child) {
      margin-left: 0px;
    }
  }
  &__item {
    height: 92px;
    border: getColor('light-ashen') solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% - 30px) / 2);
    transition-property: border, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    &:hover {
      border-color: getColor('blue');
      color: getColor('blue');
      fill: getColor('blue');
    }
    &:focus {
      border-color: getColor('blue');
      color: getColor('blue');
      fill: getColor('blue');
    }
  }
  &__icon {
    fill: getColor('light-ashen');
    transition-property: color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    &:focus {
      border-color: getColor('blue');
      color: getColor('blue');
      fill: getColor('blue');
    }
    &:hover {
      border-color: getColor('blue');
      color: getColor('blue');
      fill: getColor('blue');
    }
  }
}
@media screen and (min-width: 768px) {
  .clients {
    &__item {
      flex-basis: calc((100% - 96px) / 3);
    }
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    &__item {
      flex-basis: calc((100% - 192px) / 6);
    }
  }
}
