@import '../utils/vars';
.doing {
  visibility: hidden;
  display: none;
  padding: 94px 0;
  &__heading {
    font-size: 36px;
    line-height: 1.17;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    & > li {
      width: calc((100% - 90px) / 3);
    }
    &__box {
      width: 100%;
      height: auto;
      display: flex;
      position: relative;
      z-index: 1;
    }
    &__image {
      width: 100%;
      height: auto;
    }
  }
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #{getColor('gray')}90;
    width: 100%;
    padding: 27px 94px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    &__text {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: getColor('white');
      text-align: center;
    }
  }
}
@media screen and (min-width: 1200px) {
  .doing {
    visibility: visible;
    display: block;
  }
}
