@import '../utils/vars';
.footer {
  padding: 0px 0;
  width: 100%;
  background-color: getColor('gray');
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__links {
    margin-left: 0px;
  }
  &__logo {
    display: block;
    margin-bottom: 0px;
    color: getColor('white');
  }
  &__list {
    &__address {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: getColor('white');
    }
  }
  &__link {
    text-decoration: none;
    color: #{getColor('white')}60;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    &:hover {
      color: getColor('blue');
      opacity: 1;
    }
    &:focus {
      color: getColor('blue');
      opacity: 1;
    }
  }
  &__social {
    width: 206px;
    height: 80px;
    margin-left: 0px;
    margin-top: 0px;
    &__heading {
      color: getColor('white');
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 0px;
      text-transform: uppercase;
    }
    &__list {
      display: flex;
      & :not(:first-child) {
        margin-left: 0px;
      }
    }
    &__icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: solid 0px;
      background-color: #{getColor('white')}10;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: getColor('white');
      transition-property: background-color;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
      &:hover {
        background-color: getColor('blue');
      }
      &:focus {
        background-color: getColor('blue');
      }
    }
  }
}
