@import '../utils/vars';
.team {
  padding: 0px 0;
  background-color: getColor('darker-white');
  margin: 0;
  &__heading {
    font-size: 36px;
    line-height: 1.17;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    & > li:not(:first-child) {
      margin-left: 0px;
    }
  }
  &__figure {
    font-size: 16px;
    line-height: 1.17;
    margin: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: getColor('white');
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    width: 270px;
    height: 260px;
  }
  &__figcaption {
    margin-top: 0px;
    margin-bottom: 0px;
    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: getColor('light-black');
    }
    &__position {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: getColor('ashen');
      margin-top: 0px;
    }
  }
}
